[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = git@github.com:google/googletest.git

[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
